[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
libsub = "*"
libusb = "*"
pylibsub = "*"
pywinusb = "*"
numpy = "*"
matplotlib = "*"
pysimplegui = "*"

[requires]
python_version = "3.6"
